html,
body {
  margin: 0;
  padding: 0;
}

.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

label {
  text-align: left;
  display: block;
}
h1 {
  margin-bottom: 1rem;
}

.nav-tabs {
  margin-bottom: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
